// Font variables
$font-primary: "Karla", sans-serif;

// Color variables
$color-primary-cyan: #2ab2af;
$color-primary-yellow: #c0df34;

$color-neutral-light-gray: #e5eff5;
$color-neutral-grayish-blue: rgb(152, 166, 189);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}

.container {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
