.monthly {
  background-color: $color-primary-cyan;
  color: #fff;
  padding: 2.5rem;
  @media only screen and (max-width: $bp-medium) {
    height: 40vh;
  }

  &__price {
    font-size: 1rem;
    color: $color-neutral-light-gray;
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    span {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
    }
  }

  &__access {
    margin: 0.8rem 0 1.4rem 0;
  }

  &__signup {
    background-color: $color-primary-yellow;
    border: none;

    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 6rem;
    border-radius: 0.3rem;
  }
}
